<%- include('../partials/header') %>
<form id="add-item-form" action="/profiles/addBudget" method="POST">
    <label>Add Monthly Budget
        <input type = "number" name = "budget" class = "new">
        </label>
        <button type = "submit" >Add Budget</button>
    </form>
<%- include('../partials/footer') %>
