<%- include('../partials/header') %>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Total Cost</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <% categories.forEach((category) => { %>
                <td> <%= category %> </td></tr>
            <% }) %>

        
            <% categories.forEach((category) => { %>
                <% let count = 0; %>
                <% for(let i = 0; i < items.length; i++) {%>
                    <% if(items[i].category === category) { %>
                      <%  count += 1 %>
                   <% } %>
            <% } %> 
            <tr><td><%=count%></td></tr>
            <% }) %>
        </tr>
    </tbody>
</table>

<%- include('../partials/footer') %>

